<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Bienvenu Sur WelamApp
      </h4>

      <p>
        Nous vous Aidons a mettre la joie dans votre journée.
      </p>

      <hr />

      <p>
        Vous pouvez créer un Welam sur la bar droite.
      </p>
    </div>
</div>